<html>
  <body>
  <element name="d-dimension-selector" constructor="DimensionSelector" extends="div">
    <template>
      <div data-action="click:updateModel">
	      <div class="size size1" data-id="size1">
	        <label class="size-label">320 x 200</label>
	        <div class="size-box"></div>
	      </div>
	      <div class="size size2" data-id="size2">
	        <label class="size-label">420 x 300</label>
	        <div class="size-box"></div>
	      </div>
	      <div class="size size3" data-id="size3">
	        <label class="size-label">520 x 400</label>
	        <div class="size-box"></div>
	      </div>
      </div>
      <br/>
      <div class="selected-dimension">
        <label>Selected Dimension</label>
        <div>width: <span class="highlight">{{model.width}}</span> height: <span class="highlight">{{model.height}}</span></div>
      </div>

    </template>
    <script type="application/dart">
      import 'package:web_components/web_component.dart';
      import '../WidgetBuilder.dart';

      class DimensionSelector extends WebComponent {
        IDimension model;

        void updateModel(e) {
          var targetId = getTargetId(e);
          var width = model.width;
          var height = model.height;

          switch(targetId) {
            case "size1":
              width = 320;
              height = 200;
              break;
            case "size2":
              width = 420;
              height = 300;
              break;
            case "size3":
              width = 520;
              height = 400;
              break;
          }
          model.width = width;
          model.height = height;
        }

        String getTargetId(e) {
          var target = e.target;
			    if(target.attributes['data-id'] != null) {
			      return target.attributes['data-id'];
			    }
			    else if(target.parent.attributes['data-id'] != null) {
			      return target.parent.attributes['data-id'];
			    }
			   }
      }
    </script>
  </element>
  </body>
</html>
